<mat-toolbar color="primary">
  <span>1. Usability: Data Table</span>
</mat-toolbar>
<mat-progress-bar mode="buffer" *ngIf="loading"></mat-progress-bar>
<mat-form-field class="example-full-width">
    <input matInput id="searchText" placeholder="Search" (keydown)="onKeydown($event)"   [(ngModel)]="searchText" value="">
  </mat-form-field>
<mat-form-field>
  <mat-select placeholder="Country or Area" id="country" [(ngModel)]="filter.country" (selectionChange)="changecountry()">
    <mat-option value='-1'>None</mat-option>
    <mat-option *ngFor="let item of origin | distinct: 'country'" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Year" id="year" [(ngModel)]="filter.year" (selectionChange)="changecountry()">
    <mat-option value='-1'>None</mat-option>
    <mat-option *ngFor="let item of origin | distinct: 'year'" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Area" id="area" [(ngModel)]="filter.area" (selectionChange)="changecountry()">
    <mat-option value='-1'>None</mat-option>
    <mat-option *ngFor="let item of origin | distinct: 'area'" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Sex" id="sex" [(ngModel)]="filter.sex" (selectionChange)="changecountry()">
    <mat-option value='-1'>None</mat-option>
    <mat-option *ngFor="let item of origin | distinct: 'sex'" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Record Type" id="recordtype" [(ngModel)]="filter.recordtype" (selectionChange)="changecountry()">
    <mat-option value='-1'>None</mat-option>
    <mat-option *ngFor="let item of origin | distinct: 'recordtype'" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Reliability" id="reliability" [(ngModel)]="filter.reliability" (selectionChange)="changecountry()">
    <mat-option value='-1'>None</mat-option>
    <mat-option *ngFor="let item of origin | distinct: 'reliability'" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Source Year" id="sourceyear" [(ngModel)]="filter.sourceyear" (selectionChange)="changecountry()">
    <mat-option value='-1'>None</mat-option>
    <mat-option *ngFor="let item of origin | distinct: 'sourceyear'" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Value" id="value" [(ngModel)]="filter.value" (selectionChange)="changecountry()">
    <mat-option value='-1'>None</mat-option>
    <mat-option *ngFor="let item of origin | distinct: 'value'" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Value Footnotes" id="valuefootnotes" [(ngModel)]="filter.valuefootnotes" (selectionChange)="changecountry()">
    <mat-option value='-1'>None</mat-option>
    <mat-option *ngFor="let item of origin | distinct: 'valuefootnotes'" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="resetfilter()">Reset</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Country or Area Column -->
  <ng-container matColumnDef="Country or Area">
    <th mat-header-cell *matHeaderCellDef> Country or Area </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="Year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <!-- Area Column -->
  <ng-container matColumnDef="Area">
    <th mat-header-cell *matHeaderCellDef> Area </th>
    <td mat-cell *matCellDef="let element"> {{element.area}} </td>
  </ng-container>

  <!-- Sex Column -->
  <ng-container matColumnDef="Sex">
    <th mat-header-cell *matHeaderCellDef> Sex </th>
    <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
  </ng-container>

  <!-- Record Type Column -->
  <ng-container matColumnDef="Record Type">
    <th mat-header-cell *matHeaderCellDef> Record Type </th>
    <td mat-cell *matCellDef="let element"> {{element.recordtype}} </td>
  </ng-container>

  <!-- Reliability Column -->
  <ng-container matColumnDef="Reliability">
    <th mat-header-cell *matHeaderCellDef> Reliability </th>
    <td mat-cell *matCellDef="let element"> {{element.reliability}} </td>
  </ng-container>

  <!-- Source Year Column -->
  <ng-container matColumnDef="Source Year">
    <th mat-header-cell *matHeaderCellDef> Source Year </th>
    <td mat-cell *matCellDef="let element"> {{element.sourceyear}} </td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="Value">
    <th mat-header-cell *matHeaderCellDef> Value </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <!-- Value Footnotes Column -->
  <ng-container matColumnDef="Value Footnotes">
    <th mat-header-cell *matHeaderCellDef> Value Footnotes </th>
    <td mat-cell *matCellDef="let element"> {{element.valuefootnotes}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
